OPENAI_API_KEY=
OPENAI_BASE_URL=
MONGODB_URI=
DATABASE_NAME=Student_feedback

SECRET_KEY=

ADMIN_USERNAME=
ADMIN_PASSWORD=

ACADEMIC_CURRENT_WEEK=2
ACADEMIC_WEEK_3_START_DATE=2026-10-05
ACADEMIC_TOTAL_WEEKS=11

FRONTEND_URL=http://localhost:5173
ENVIRONMENT=development
